<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.zoteroBackup</string>

        <key>ProgramArguments</key>
        <array>
            <string>/bin/sh</string>
            <string>/Users/USERNAME/Zotero/backup.sh</string>
        </array>

        <!-- Runs at 11:30 PM -->
        <!-- <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>23</integer>  
            <key>Minute</key>
            <integer>30</integer>
        </dict> -->

        <!-- Run every 3 hours (10800 seconds) -->
        <key>StartInterval</key>
        <integer>10800</integer>

        <key>StandardOutPath</key>
        <string>/Users/USERNAME/Zotero/zotero_backup.log</string>
        
        <key>StandardErrorPath</key>
        <string>/Users/USERNAME/Zotero/zotero_backup_error.log</string>

        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <false/>
    </dict>
</plist>

